{% include "header.html" %}
{% load static %}

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #081f2d; color: #bd9a5f;">
  <div class="container text-center">
    <h2 class="fw-bold">HAGAMOS DINERO JUNTOS</h2>
    <p class="text-secondary">Administración cuenta con información sobre nuestros procesos administrativos, proceso jurídico, venta y post venta. 
        Aquí te enseñamos junto con nuestro equipo a seguir paso a paso nuestros procesos para cerrar las ventas en tiempo y forma.
    </p>
        
  </div><br>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <iframe width="360" height="360" src="https://www.youtube.com/embed/NW4pigPVhrE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2 class="text-center"><span>Capacitación</span></h2>
            <p class="text-center">¿Cómo cerrar una venta?</p>
      </div>
    <div class="col-md-4">
        <iframe width="360" height="360" src="https://www.youtube.com/embed/Uz5VC4cTPSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2 class="text-center"><span>Capacitación</span></h2>
        <p class="text-center">¿Qué hacer después de una venta?</p>
    </div>
    <div class="col-md-4">
        <iframe width="360" height="360" src="https://www.youtube.com/embed/v1LIhufHWa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2 class="text-center"><span>Capacitación</span></h2>
        <p class="text-center">Proceso Administrativo</p>
      </div>
    </div>
  </div><!-- end of .container--><br><br><br><br>
</section>

<section class="pt-5 pt-md-9 mb-6" id="feature">
    <div class="container text-center">
      <h2 class="fw-bold"><b>Recursos</b></h2><br><br>
      <div class="row">
        <div class="col-md-3">
          <a href="https://drive.google.com/file/d/1B5--piAoTK08OGvePPS0XGX2F27rv4--/view?usp=sharing"><img src="{% static 'img/dolar.png' %}" width="50%" height="auto" style="border-radius: 25px;"></a><br><br>
          <p><b>Lista de Precios</b></p>
        </div>
         <div class="col-md-3">
          <a href="https://drive.google.com/file/d/1NH0fu97APYQv87v1fW93vdjik2RVW3ml/view?usp=sharing"><img src="{% static 'img/dolar.png' %}" width="50%" height="auto" style="border-radius: 25px;"></a><br><br>
          <p><b>Procesos de Venta</b></p>
        </div>
        <div class="col-md-3">
          <a href="https://drive.google.com/file/d/1QAa0fXkSe9HhP-ynWcFPRVC9jftUagju/view?usp=sharing"><img src="{% static 'img/money-management.png' %}" width="50%" height="auto" style="border-radius: 25px;"></a><br><br>
          <p><b>Plantilla de Ventas</b></p>
        </div>
        <div class="col-md-3">
          <a href="https://drive.google.com/file/d/1Kn-lB_KI-6Iqw98lPrtAFA6FkAyBqEue/view?usp=sharing"><img src="{% static 'img/verify.png' %}" width="50%" height="auto" style="border-radius: 25px;"></a><br><br>
          <p><b>Registro INSEJUPY</b></p>
        </div>
      </div><br><br>

      <h2 class="fw-bold"><b>Cuentas Bancarias</b></h2><br><br>
      <div class="row">
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/19ZBbOMYTjmLw1gMFBhCiiN3n9RGFRftD/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">LUHM</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1LxZSuactikPacnYCEpbUMEkUtEYQI1Pk/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">IMARA (MALIK)</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1e351tDf8C0QzPgWkBt6GeCcKnAspWyCh/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">MÓNACO</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1uJ46RFDAo9VC_h2IEG5SDmm-2mCwwK16/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">VELAS</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1Bcms_MAg36ToYeuYSNblUZIqVufQ-Z7L/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans'; ">COCOTEROS</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1hHs1KpbI626zkaHrawvP9-mQYyEwNy4_/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">CONKAL VILLAGE</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1l_D7PezblSwVjShoB4FIx7apm9UHUvcm/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">CAMINO REAL</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1jMkkc6Y7GA_jYE_1zh3QUrEzualQVJ3P/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">ZAZIL CONKAL</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1fCwlsp3zX8usbyxO2rqukaML11jdTtxR/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">GRAN PLAYA</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1hU5u9VffehcaBE0OQMyae47w2pVQX6cy/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">PLAYA GAVIOTAS</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1a4CdHIQoymIIZkgdcgy-LEWMJFUGJva2/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">HACIENDAS</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1AtkT0txB9Nouk10Y3a54a35XwqWTBwFv/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">MARIETA</button></a><p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrap">
            <a href="https://drive.google.com/file/d/1XHbeG8cdFDmLy7DHEXSzQAugwAPHATkD/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">RIVIERA TROPICAL</button></a><p></p>
          </div>
        </div>
        </div>
    </div><br><br><br><br>
</section>

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #081f2d; color: #bd9a5f;">
    <div class="container text-center">
      <h4>CORREO DEL ÁREA DE ADMINISTRACIÓN</h4><br>
      <p class="text-center"><span><b>administracion@lioncapital.com.mx</b></span></p>
    </div> 
    <br><br>
</section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->


{% include "footer.html" %}
