{% include "header.html" %}
{% load static %}
      <div class="container text-center">
        <h2>HAGAMOS DINERO JUNTOS</h2>
        <p>Administración cuenta con información sobre nuestros procesos administrativos, proceso jurídico, venta y post venta. 
            Aquí te enseñamos junto con nuestro equipo a seguir paso a paso nuestros procesos para cerrar las ventas en tiempo y forma.
        </p>
            
      </div><br>

      <hr size="8px" color="black" /><br>

      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <iframe width="360" height="360" src="https://www.youtube.com/embed/NW4pigPVhrE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h2 class="text-center"><span>Capacitación</span></h2>
                <p class="text-center">¿Cómo cerrar una venta?</p>
          </div>
        <div class="col-md-4">
            <iframe width="360" height="360" src="https://www.youtube.com/embed/Uz5VC4cTPSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2 class="text-center"><span>Capacitación</span></h2>
            <p class="text-center">¿Qué hacer después de una venta?</p>
        </div>
        <div class="col-md-4">
            <iframe width="360" height="360" src="https://www.youtube.com/embed/v1LIhufHWa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2 class="text-center"><span>Capacitación</span></h2>
            <p class="text-center">Proceso Administrativo</p>
         </div>
        </div>
      </div><!-- end of .container--><br>

      <hr size="8px" color="black" />

      <div class="container text-center">
        <h4>CORREO DEL ÁREA DE ADMINISTRACIÓN</h4><br>
        <p class="text-center"><span><b>administracion@lioncapital.com.mx</b></span></p>
      </div> 
      <br><br><br><br><br><br>

      <!-- ============================================-->
      <!-- <section> begin ============================-->


{% include "footer.html" %}