{% include "header.html" %}
{% load static %}
      
      <!-- ============================================ #68B3AE  #873E23  #B57107-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #68B3AE; color: #FFFFFF;">

        <div class="text-center">
          <h1> CONOCE <span>CAMINO REAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row align-items-center">
              <div class="col-md-6">
                <iframe src="https://drive.google.com/file/d/1IXpGj4P0r8Nn9tsJ93N_jZQMcNLPl9Ng/preview" width="532" height="315" allow="autoplay"></iframe><br>
                <a href="https://drive.google.com/file/d/1IXpGj4P0r8Nn9tsJ93N_jZQMcNLPl9Ng/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #873E23; border-radius: 25px; border: none; color: #68B3AE; font-family: 'Lucida Sans';">DESCARGAR VIDEO</button></a>
              </div>
              <div class="col-md-6">
                <p class="text-justify" style="font-family: 'Lucida Sans';"><br>
                  Su proximidad con la actividad económica del estado, así como con atractivos naturales como lo es la reserva 
                  de la biósfera, proveen a estas tierras de una gran plusvalía que asegura tu inversión. <br><br>
                  Además de ubicarse cerca del nuevo corredor industrial, se encuentra en la carretera Mérida-Celestún, 
                  una de las playas más hermosas de Yucatán y que se encuentra dentro de la reserva de la biósfera.</p>
              </div>
            </div><br><br>
            <div class="row align-items-center">
              <div class="col-md-6">
                <a href="{% static 'img/FCaminoR1.jpeg' %}" download="fotoCamino1.jpeg"><img src="{% static 'img/FCaminoR1.jpeg' %}" width="75%" height="auto" style="border-radius: 25px;"></a>
                <p></p>
              </div>
              <div class="col-md-6">
                <a href="{% static 'img/FCaminoR2.jpeg' %}" download="fotoCamino2.jpeg"><img src="{% static 'img/FCaminoR2.jpeg' %}" width="75%" height="auto" style="border-radius: 25px;"></a>
                <p></p>
              </div>
             </div>
          </div><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #B57107; color: #FFFFFF;">

        <div class="text-center">
          <h1>RECORRIDO <span>VIRTUAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'img/recCamino.jpg' %}" width="100%" height="100%"><br><br>
                <a><button class="btn btn-primary" style="width: 100%; background-color: #873E23; border-radius: 25px; border: none; color: #68B3AE; font-family: 'Lucida Sans';">RECORRIDO VIRTUAL</button></a>
              </div>
            </div>
        </div><br><br><br><br>
      </section>


      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #68B3AE; color: #FFFFFF;">

        <div class="text-center">
          <h1>PRESENTACIÓN <span>PDF</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/10Mbe1-HDFsTTxAb002SODHs1wNwx6xl2/preview" width="100%" height="476px" allow="autoplay"></iframe>
               <a href="https://drive.google.com/file/d/10Mbe1-HDFsTTxAb002SODHs1wNwx6xl2/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #873E23; border-radius: 25px; border: none; color: #68B3AE; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
              </div>
            </div>
        </div><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #B57107; color: #FFFFFF;">
        <div class="container text-center">
            <h1>MATERIAL DE <span>VENTAS</span></h1><br>
              <div class="row">
                  <div class="col-md-3">
                    <a href="{% static 'img/c1.png' %}" download="camino1.jpg"><img src="{% static 'img/c1.png' %}" width="100%" height="auto"></a>
                  </div>
                  <div class="col-md-3">
                    <a href="{% static 'img/c2.png' %}" download="camino2.jpg"><img src="{% static 'img/c2.png' %}" width="100%" height="auto"></a>
                  </div>
                  <div class="col-md-3">
                    <a href="{% static 'img/c3.png' %}" download="camino3.jpg"><img src="{% static 'img/c3.png' %}" width="100%" height="auto"></a>
                  </div>
                  <div class="col-md-3">
                    <a href="{% static 'img/c4.png' %}" download="camino4.jpg"><img src="{% static 'img/c4.png' %}" width="100%" height="auto"></a>
                  </div>
            </div> <br><br><br>
          </div>
      </section>
      
      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #873E23; color: #FFFFFF;">
        <div class="container text-center">
            <div class="row">
              <div class="col-md-6">
                <h1>FICHA <span>TÉCNICA</span></h1><br>
                <div><a href="https://drive.google.com/file/d/1_Yfn-0g2iqn2mRYZ3gJWEQQFdYnBJWIH/view?usp=sharing"><button class="btn btn-primary" style="background-color: #68B3AE; border-radius: 25px; border: none; color: #873E23; font-family: 'Lucida Sans';">DESCARGAR FICHA TÉCNICA</button></a></button></div><br>
              </div>
              <div class="col-md-6">
                <h1>ACCESO <span>CRM</span></h1><br>
                <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary" style="background-color: #68B3AE; border-radius: 25px; border: none; color: #873E23; font-family: 'Lucida Sans';">COTIZADOR</button></a></div>
              </div>
            </div>
        </div><br><br>
    </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #B57107; color: #FFFFFF;">

        <div class="text-center">
          <h1>UBICACIÓN <span>DESARROLLO</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59620.42354870614!2d-89.955481!3d20.9414096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5603fa80619291%3A0x152f71c31a8b45ed!2sCAMINO%20REAL%20TERRENOS%20CERCA%20DE%20SISAL!5e0!3m2!1ses-419!2smx!4v1661202839493!5m2!1ses-419!2smx" width="100%" height="476" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/26iho2kksyeHyrcq7"><button class="btn btn-primary" style="width: 100%; background-color: #873E23; border-radius: 25px; border: none; color: #68B3AE; font-family: 'Lucida Sans';">UBICACIÓN DE GOOGLE MAPS</button></a>
              </div>
            </div>
        </div><br><br>
      </section>
        
      <!-- <section> close ============================-->
      <!-- ============================================-->

{% include "footer.html" %}