{% include "header.html" %}
{% load static %}
      
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1> CONOCE <span>CAMINO REAL</span></h1>
          <br><br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-12">
                <iframe width="756" height="540" src="https://www.youtube.com/embed/cpUA1LMtqkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
                <a><button class="btn btn-primary" style="width: 756px;">DESCARGAR VIDEO</button></a>
              </div>
            </div>
        </div>

        

      </section><br>

      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1>RECORRIDO <span>VIRTUAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-12">
                <img src="{% static 'img/recCamino.jpg' %}" width="560" height="315"><br><br>
                <a><button class="btn btn-primary" style="width: 560px;">RECORRIDO VIRTUAL</button></a>
              </div>
            </div>
        </div>

        

      </section><br>
      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1>PRESENTACIÓN <span>PDF</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-12">
                <iframe src="https://drive.google.com/file/d/10Mbe1-HDFsTTxAb002SODHs1wNwx6xl2/preview" width="756" height="428" allow="autoplay"></iframe>
               <a href="https://drive.google.com/file/d/10Mbe1-HDFsTTxAb002SODHs1wNwx6xl2/view?usp=sharing"><button class="btn btn-primary" style="width: 560px;">DESCARGAR PRESENTACIÓN</button></a>
              </div>
            </div>
        </div>

        

      </section><br>
      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <div class="container text-center">
        <h1>MATERIAL DE <span>VENTAS</span></h1><br>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'img/cam1.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-3">
                <img src="{% static 'img/cam2.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-3">
                <img src="{% static 'img/cam3.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-3">
                <img src="{% static 'img/cam4.jpg' %}" width="100%" height="auto">
            </div>
        </div> <br><br><br>
        <div class="row">
          <div class="col-6">
            <h1>FICHA <span>TÉCNICA</span></h1>
            <div><a href="https://drive.google.com/file/d/1_Yfn-0g2iqn2mRYZ3gJWEQQFdYnBJWIH/view?usp=sharing"><button class="btn btn-primary">DESCARGAR FICHA TÉCNICA</button></a></button></div>
          </div>
          <div class="col-6">
            <h1>ACCESO <span>CRM</span></h1>
            <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary">COTIZADOR</button></a></div>
          </div>
        </div> <br>
      </div>
      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1>UBICACIÓN <span>DESARROLLO</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59620.42354870614!2d-89.955481!3d20.9414096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5603fa80619291%3A0x152f71c31a8b45ed!2sCAMINO%20REAL%20TERRENOS%20CERCA%20DE%20SISAL!5e0!3m2!1ses-419!2smx!4v1661202839493!5m2!1ses-419!2smx" width="756" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/26iho2kksyeHyrcq7"><button class="btn btn-primary" style="width: 756px;">UBICACIÓN DE GOOGLE MAPS</button></a>
              </div>
            </div>
        </div>

        

      </section> <br><br>
        
      <!-- <section> close ============================-->
      <!-- ============================================-->

{% include "footer.html" %}