{% include "header.html" %}
{% load static %}

<section style="background-color: #081f2d; color:#BD9A5F; font-size: 20px;"><br><br>
    <h2 class="fw-bold text-center">VIDEOS DESTACADOS</h2><br>
      <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/16C2VP8E11aPoghGJzvI_jDI9MiR6_DLX/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>LION CAPITAL</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1HPrfcuCKx1jwQj46sR_NR0w881PDohBl/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>AMENIDADES MALIK</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1u8XIvMNrRxlg011h7CkFc-mvw2qJesT4/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>UMÁN INDUSTRIAL</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1Jw_GMmFl6zeM3x1XBt1Jft06LSuukXNB/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>CONKAL VILLAGE</p>
            </div>
        </div>
      </div><br><br>
</section>


{% include 'footer.html' %}