{% include "header.html" %}
{% load static %}

<section style="background-color: #081f2d; color:#BD9A5F; font-size: 20px;"><br><br>
    <h2 class="fw-bold text-center">VIDEOS MES DE DICIEMBRE</h2><br>
      <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/16C2VP8E11aPoghGJzvI_jDI9MiR6_DLX/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>LION CAPITAL 2022</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1HPrfcuCKx1jwQj46sR_NR0w881PDohBl/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>AMENIDADES MALIK</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1vhYNgtmR_-Abd1tnuiCsXWbNpetAJ1IC/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>RECORRIDO FELIPE RODRÍGUEZ MONTERREY</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1u8XIvMNrRxlg011h7CkFc-mvw2qJesT4/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>UMÁN INDUSTRIAL NUEVO</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1irrAFW8d9cM0rOhSAn4pH7op-7Flj4Vx/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>NAVIDAD LION CAPITAL 2022</p>
            </div>
            <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1t3QegPTfa4mlffi7JfG5N3cxhWsrhxVW/preview" width="756" height="428" allow="autoplay"></iframe>
                <p>MENSAJE AÑO NUEVO LION CAPITAL</p>
            </div>
        </div>
      </div><br><br>
</section>


{% include 'footer.html' %}