{% include "header.html" %}
{% load static %}

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature">
        <!--/.bg-holder-->
        <div class="container text-center">
            <h2>HAGAMOS DINERO JUNTOS</h2>
             <p><b>CRM </b>es una herramienta indispensable para las ventas, gracias a ella podemos facilitarnos muchos procesos a la hora de generar cotizaciones, reunir documentación, 
                generar ventas y mucho más. <b>Aquí aprenderás a sacarle el mayor provecho con capacitaciones, manual de uso, procesos y acceso directo.</b>
            </p>
        </div>

        

      </section><br>

      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h3>MANUAL DE CICLO DE VENTA CRM</h3>
          <br><br>
        </div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                  <iframe src="https://drive.google.com/file/d/13rfM0gz_6h4HcyE-1N28GUch2Ol9eJly/preview" width="100%" height="476px" allow="autoplay"></iframe>
                   <a href="https://docs.google.com/presentation/d/12gFsxE2k5fu_VphbRX16FBefnX2xBkgiRPU-04vSj_E/edit?usp=sharing"><button class="btn btn-primary" style="width: 50%;">DESCARGAR PRESENTACIÓN</button></a>
                </div>
            </div>
        </div>

        

      </section> <br>
      <hr size="8px" style="background-color: rgb(1, 4, 64);" /> <br>


      <div class="container text-center">
        <div class="row">
          <div class="col-12">
            <h4>ACCESO <span>CRM</span></h4> <br>
            <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary">COTIZADOR</button></a></div>
          </div>
        </div> <br><br><br>
      </div>

      <div class="container text-center">
        <h4>CORREO DE ÁREA DE CRM</h4><br>
        <p class="text-center"><span><b>crmlioncapital@gmail.com</b></span></p>
      </div> 

      <div class="container text-center">
            <div class='tableauPlaceholder' id='viz1684267008993' style='position: relative'>
                  <noscript><a href='#'><img alt='Top 10 Asesores Lion Capital ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;Top10AsesoresLionCapital&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript>
                  <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Top10AsesoresLionCapital&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;Top10AsesoresLionCapital&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /></object>
            </div>      
      </div>
<script type='text/javascript'>
      var divElement = document.getElementById('viz1684267008993');
      var vizElement = divElement.getElementsByTagName('object')[0];                    
      vizElement.style.width='50%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
      var scriptElement = document.createElement('script');                    
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>
      <br><br><br><br><br><br>
      
        
      <!-- <section> close ============================-->
      <!-- ============================================-->
    {% include "footer.html" %}
