{% include "header.html" %}
{% load static %}

<section style="background-color: #081f2d; color:#BD9A5F;"><br><br>

      <div class="container text-center">
        <h2 class="fw-bold">HAGAMOS DINERO JUNTOS</h2>
        <p class="text-secondary">En nuestra sección de Desarrollos podrás encontrar a nuestros directores de cada uno de los mismos, 
            dando una forma de venderle el desarrollo a nuestros clientes. Esta herramienta nos servirá tanto 
            como para generar ventas así como para poder capacitarnos con información de valor sobre el desarrollo.</p> 
      </div><br>
      
      <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'luhm' %}"><img src="{% static 'img/luhm.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'malik' %}"><img src="{% static 'img/imara.png' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'monaco' %}"><img src="{% static 'img/monaco.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'velas' %}"><img src="{% static 'img/velas.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'cocoteros' %}"><img src="{% static 'img/cocoteros.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'conkal' %}"><img src="{% static 'img/conkal.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'caminoreal' %}"><img src="{% static 'img/caminoreal.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'granplaya' %}"><img src="{% static 'img/playa.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'marieta' %}"><img src="{% static 'img/marieta.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'celestun' %}"><img src="{% static 'img/celestun.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'uman' %}"><img src="{% static 'img/uman.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'gaviotas' %}"><img src="{% static 'img/gaviotas.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
                <p><b></b></p>
            </div>
        </div><br><br>
</section>

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #ffffff; color:#BD9A5F;">
  <div class="container text-center">
    <div class="row" style="margin-bottom: auto;">
      <div class="col-md-4">
        <a href="https://drive.google.com/file/d/1AVAF3-ImuIQC-MQM5giBv9bmY3fpuYfQ/view?usp=sharing"><img src="{% static 'img/dolar.png' %}" width="50%" height="auto" style="border-radius: 25px;"></a><br><br>
        <p><b>Lista de Precios</b></p>
      </div>
      <div class="col-md-4">
        <a href="https://drive.google.com/file/d/1xQbggB5WGxP2eMif982Ssdxf6481l8H_/view?usp=sharing"><img src="{% static 'img/money-management.png' %}" width="50%" height="auto" style="border-radius: 25px;"></a><br><br>
        <p><b>Plantilla de Ventas</b></p>
      </div>
      <div class="col-md-4">
        <a href="{% url 'contenido' %}"><img src="{% static 'img/contenido.png' %}" alt="" width="50%"></a><br><br>
        <p><b>Contenido Visual</b></p>
      </div>
     </div> 
</div><br><br>
</section>


{% include 'footer.html' %}
