{% include "header.html" %}
{% load static %}
      <div class="container text-center">
        <h2>HAGAMOS DINERO JUNTOS</h2>
        <p>En nuestra sección de Desarrollos podrás encontrar a nuestros directores de cada uno de los mismos, 
            dando una forma de venderle el desarrollo a nuestros clientes. Esta herramienta nos servirá tanto 
            como para generar ventas así como para poder capacitarnos con información de valor sobre el desarrollo.</p>
            
      </div>

      <div class="my-20"></div>

      <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'luhm' %}"><img src="{% static 'img/luhm.jpg' %}" width="100%" height="auto"></a>
                <p>LUHM</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'malik' %}"><img src="{% static 'img/malik.jpg' %}" width="100%" height="auto"></a>
                <p>MALIK</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'monaco' %}"><img src="{% static 'img/monaco.jpg' %}" width="100%" height="auto"></a>
                <p>MÓNACO</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'velas' %}"><img src="{% static 'img/velas.jpg' %}" width="100%" height="auto"></a>
                <p>VELAS TELCHAC</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'cocoteros' %}"><img src="{% static 'img/cocoteros.jpg' %}" width="100%" height="auto"></a>
                <p>COCOTEROS</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'conkal' %}"><img src="{% static 'img/conkal.jpg' %}" width="100%" height="auto"></a>
                <p>CONKAL VILLAGE</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'caminoreal' %}"><img src="{% static 'img/caminoreal.jpg' %}" width="100%" height="auto"></a>
                <p>CAMINO REAL</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'granplaya' %}"><img src="{% static 'img/playa.jpg' %}" width="100%" height="auto"></a>
                <p>GRAN PLAYA</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'marieta' %}"><img src="{% static 'img/marieta.jpg' %}" width="100%" height="auto"></a>
                <p>MARIETA</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'celestun' %}"><img src="{% static 'img/celestun.jpg' %}" width="100%" height="auto"></a>
                <p>HACIENDAS CELESTÚN</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'uman' %}"><img src="{% static 'img/uman.jpg' %}" width="100%" height="auto"></a>
                <p>UMÁN INDUSTRIAL</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'gaviotas' %}"><img src="{% static 'img/gaviotas.jpg' %}" width="100%" height="auto"></a>
                <p>PLAYA GAVIOTAS</p>
            </div>
        </div>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->


{% include 'footer.html' %}