{% include "header.html" %}
{% load static %}
      <div class="container text-center">
        <h2>HAGAMOS DINERO JUNTOS</h2>
        <p>En nuestra sección de Desarrollos podrás encontrar a nuestros directores de cada uno de los mismos, 
            dando una forma de venderle el desarrollo a nuestros clientes. Esta herramienta nos servirá tanto 
            como para generar ventas así como para poder capacitarnos con información de valor sobre el desarrollo.</p>
            
      </div>

      <div class="my-20"></div>

      <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'luhm' %}"><img src="{% static 'img/luhm.jpg' %}" width="100%" height="auto"></a>
                <p>LUHM</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'malik' %}"><img src="{% static 'img/malik.jpg' %}" width="100%" height="auto"></a>
                <p>MALIK</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'monaco' %}"><img src="{% static 'img/monaco.jpg' %}" width="100%" height="auto"></a>
                <p>MÓNACO</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'velas' %}"><img src="{% static 'img/velas.jpg' %}" width="100%" height="auto"></a>
                <p>VELAS TELCHAC</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'cocoteros' %}"><img src="{% static 'img/cocoteros.jpg' %}" width="100%" height="auto"></a>
                <p>COCOTEROS</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'conkal' %}"><img src="{% static 'img/conkal.jpg' %}" width="100%" height="auto"></a>
                <p>CONKAL VILLAGE</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'caminoreal' %}"><img src="{% static 'img/caminoreal.jpg' %}" width="100%" height="auto"></a>
                <p>CAMINO REAL</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'granplaya' %}"><img src="{% static 'img/playa.jpg' %}" width="100%" height="auto"></a>
                <p>GRAN PLAYA</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'marieta' %}"><img src="{% static 'img/marieta.jpg' %}" width="100%" height="auto"></a>
                <p>MARIETA</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'celestun' %}"><img src="{% static 'img/celestun.jpg' %}" width="100%" height="auto"></a>
                <p>HACIENDAS CELESTÚN</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'uman' %}"><img src="{% static 'img/uman.jpg' %}" width="100%" height="auto"></a>
                <p>UMÁN INDUSTRIAL</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'gaviotas' %}"><img src="{% static 'img/gaviotas.jpg' %}" width="100%" height="auto"></a>
                <p>PLAYA GAVIOTAS</p>
            </div>
        </div>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->


      <footer class="page-footer font-small blue" style="background-color: goldenrod;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          <p>© 2022 Lion Capital</p>
          <a>Contacto@lioncapital.com.mx</a> | <a>Av Campestre 6B, Campestre, 97120 Mérida, Yuc. </a>  | Tel: 9994162832  | Pagina web: <a href="https://lioncapital.mx">lioncapital.mx</a>
        </div>
        <!-- Copyright -->
      
      </footer>

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <iframe class="rounded" style="width:100%;height:500px;" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
  </body>

</html>