{% include "header.html" %}
{% load static %}

      <!-- ============================================#96E2FF   #BF57FF   #784DFF-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #BF57FF; color: #FFFFFF;">

        <div class="text-center">
          <h1> CONOCE <span>PLAYA GAVIOTAS</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12 embed-responsive embed-responsive-16by9">
                <iframe width="532" height="315" src="https://www.youtube.com/embed/hli0MnXle2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div><br>
            <a href="https://drive.google.com/file/d/1McVIfcR1BIg1pFP76PNcLHKjMtSYBQ15/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #784DFF; border-radius: 25px; border: none; color: #96E2FF; font-family: 'Lucida Sans';">DESCARGAR VIDEO</button></a>
        </div><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #96E2FF; color: #FFFFFF;">

        <div class="text-center">
          <h1>RECORRIDO <span>VIRTUAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'img/recGaviotas.jpg' %}" width="100%" height="100%"><br><br>
                <a><button class="btn btn-primary" style="width: 100%; background-color: #784DFF; border-radius: 25px; border: none; color: #96E2FF; font-family: 'Lucida Sans';">RECORRIDO VIRTUAL</button></a>
              </div>
            </div>
        </div><br><br><br><br>
      </section>


      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #BF57FF; color: #FFFFFF;">

        <div class="text-center">
          <h1>PRESENTACIÓN <span>PDF</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1xnmOCrfnk31EsDzWk2wvnRgVVzU1Nylp/preview" width="100%" height="476px" allow="autoplay"></iframe>
               <a href="https://drive.google.com/file/d/1xnmOCrfnk31EsDzWk2wvnRgVVzU1Nylp/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #784DFF; border-radius: 25px; border: none; color: #96E2FF; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
              </div>
            </div>
        </div><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #96E2FF; color: #FFFFFF;">
        <div class="container text-center">
            <h1>MATERIAL DE <span>VENTAS</span></h1><br>
            <div class="row">
                <div class="col-md-3">
                  <a href="{% static 'img/gav1.jpg' %}" download="playag_1.jpg"><img src="{% static 'img/gav1.jpg' %}" width="100%" height="auto"></a>
                </div>
                <div class="col-md-3">
                  <a href="{% static 'img/gav2.jpg' %}" download="playag_2.jpg"><img src="{% static 'img/gav2.jpg' %}" width="100%" height="auto"></a>
                </div>
                <div class="col-md-3">
                  <a href="{% static 'img/gav3.jpg' %}" download="playag_3.jpg"><img src="{% static 'img/gav3.jpg' %}" width="100%" height="auto"></a>
                </div>
                <div class="col-md-3">
                  <a href="{% static 'img/gav4.jpg' %}" download="playag_4.jpg"><img src="{% static 'img/gav4.jpg' %}" width="100%" height="auto"></a>
                </div>
            </div> <br><br><br>
          </div>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #784DFF; color: #FFFFFF;">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6">
              <h1>FICHA <span>TÉCNICA</span></h1><br>
              <div><a href="https://drive.google.com/file/d/1Iv-HIiBYVFitTAlq-zB2SbM9Vy-JdjVT/view?usp=sharing"><button class="btn btn-primary" style="background-color: #96E2FF; border-radius: 25px; border: none; color: #784DFF; font-family: 'Lucida Sans';">DESCARGAR FICHA TÉCNICA</button></a></button></div><br>
            </div>
            <div class="col-md-6">
              <h1>ACCESO <span>CRM</span></h1><br>
              <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary" style="background-color: #96E2FF; border-radius: 25px; border: none; color: #784DFF; font-family: 'Lucida Sans';">COTIZADOR</button></a></div>
            </div>
          </div>
      </div><br><br>
    </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #BF57FF; color: #FFFFFF;">

        <div class="text-center">
          <h1>UBICACIÓN <span>DESARROLLO</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14868.240443586483!2d-89.111299!3d21.308641!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a7d51db8a903be5!2zMjHCsDE4JzI5LjkiTiA4OcKwMDYnNDIuMiJX!5e0!3m2!1ses!2smx!4v1661202337688!5m2!1ses!2smx" width="100%" height="476px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/h3xAdBfvsvKeMvFf6"><button class="btn btn-primary" style="width: 100%; background-color: #784DFF; border-radius: 25px; border: none; color: #96E2FF; font-family: 'Lucida Sans';">UBICACIÓN DE GOOGLE MAPS</button></a>
              </div>
            </div>
        </div><br><br>
      </section>
        
      <!-- <section> close ============================-->
      <!-- ============================================-->
    {% include "footer.html" %}