
{% include "header.html" %}
{% load static %}

<section>
<div class="pt-7" style="margin-top: 20px;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-md-start text-center py-6">
          <h1 class="mb-4 fs-9 fw-bold">Bienvenido Aliado</h1>
          <p class="mb-6 lead text-secondary">
            Con el fin de seguir creciendo como equipo y desarrollando nuestras capacidades de ventas, 
            Lion Capital ha formado esta herramienta de ventas para mantener una capacitación constante contigo. 
            Aliados tiene la misión de brindarte información de última mano y ser la herramienta que funja como Lion Academy, 
            nuestra academia para vendedores expertos.</p>
          <div class="text-center text-md-start"><a style="background-color: rgb(1, 4, 64); color: white;" class="btn btn-warning me-3 btn-lg" href="{% url 'manada' %}" role="button">Sobre nosotros</a></div><br>
        </div>
        <div class="col-md-6 text-end"><img class="pt-7 pt-md-0 img-fluid" src="{% static 'img/manolion.jpg' %}" alt="" /></div>
      </div>
    </div><br>
    <hr class="my-12"/>
  </div>
</section>

<section style="background-color: #081f2d; color: #BD9A5F;">
  <div class="container text-center"><br><br>
    <h1><span><b>PROMOCIONES MARZO</b></span></h1><br>
    <div class="row">
        <div class="col-md-4">
          <a href="{% static 'img/MzoConkal1.jpg' %}" download="Promo-conkal1.jpg"><img src="{% static 'img/MzoConkal1.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoConkal2.jpg' %}" download="Promo-conkal2.jpg"><img src="{% static 'img/MzoConkal2.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoConkal3.jpg' %}" download="Promo-conkal3.png"><img src="{% static 'img/MzoConkal3.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoConkal4.jpg' %}" download="Promo-conkal4.jpg"><img src="{% static 'img/MzoConkal4.jpg' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoMonaco1.png' %}" download="Promo-Monaco1.jpg"><img src="{% static 'img/MzoMonaco1.png' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoVelas-1.png' %}" download="Promo-Monaco1.jpg"><img src="{% static 'img/MzoVelas-1.png' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoVelas-2.png' %}" download="Promo-Monaco1.jpg"><img src="{% static 'img/MzoVelas-2.png' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoVelas-3.png' %}" download="Promo-Monaco1.jpg"><img src="{% static 'img/MzoVelas-3.png' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
        <div class="col-md-4">
          <a href="{% static 'img/MzoVelas-4.png' %}" download="Promo-Monaco1.jpg"><img src="{% static 'img/MzoVelas-4.png' %}" width="100%" height="auto" style="border-radius: 25px;"></a>
          <p></p>
        </div>
    </div><br><br>
  </div>
</section>
  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-5 pt-md-9 mb-6" id="feature">
  
    <div class="text-center">
      <h1 class="fw-bold"><span>ACTUALIZACIONES</span></h1>
      <br>
    </div>
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/ActMzo1.jpg' %}" alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><br><br>
      <hr class="my-12"/>
    </div>
  
  </section>

  <!-- <section> close ============================-->
  <!-- ============================================-->
  
  <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #081f2d; color: #BD9A5F;">
  
    <div class="text-center">
      <h1 class="fw-bold"><span>ÚLTIMAS NOTICIAS</span></h1>
      <br>
    </div>
    <!--/.bg-holder-->
  
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-md-4">
          <iframe src="https://drive.google.com/file/d/1KlU_Fk_zuwDMKW5YmHano8DhDp_7LIdD/preview" width="100%" height="288" allow="autoplay"></iframe>
          <h4 class="text-center"><span>VELAS TELCHAC</span></h4>
        </div>
      <div class="col-md-4">
          <iframe src="https://drive.google.com/file/d/16ot43aqYMphE_mv_vKNyD_Iv4AuGNg4_/preview" width="100%" height="288" allow="autoplay"></iframe>
          <h4 class="text-center"><span>DESARROLLO MÓNACO</span></h4>
     </div>
    <div class="col-md-4">
          <iframe src="https://drive.google.com/file/d/1HPrfcuCKx1jwQj46sR_NR0w881PDohBl/preview" width="100%" height="288" allow="autoplay"></iframe>
          <h4 class="text-center"><span>AMENIDADES MALIK</span></h4>
    </div>
   </div>
    </div><!-- end of .container--><br><br><br>
  
  </section>
  
  
  
  
  <!-- ============================================-->
  <!-- <section> begin ============================-->
    <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #fff;"><br>
  
      <div class="text-center">
        <h1 class="fw-bold"><span>NUESTROS DESARROLLOS</span></h1>
        <br>
      </div>
      <!--/.bg-holder-->
  
      <div class="container">
        <div class="row">
          <img src="{% static 'img/mapa.jpg' %}" width="100%" height="auto">
        </div>
        <hr class="my-12"/>
      </div><!-- end of .container--><br><br>
  
    </section>
      


        
        
{% include "footer.html" %}