{% include "header.html" %}
{% load static %}

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #081f2d; color: #bd9a5f;">
  <div class="container text-center">
    <h2 class="fw-bold">TALLERES JURÍDICOS</h2><br>

    <div class="row align-items-center">
        <div class="col-md-6">
            <iframe src="https://drive.google.com/file/d/1p6vq5fCKNsmoLr4MOg1Rq0Mtv_b-RD3R/preview" width="100%" height="296px" allow="autoplay"></iframe>
            <a href="https://drive.google.com/file/d/1p6vq5fCKNsmoLr4MOg1Rq0Mtv_b-RD3R/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #BD9A5F; border-radius: 25px; border: none; color: #081F2D; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
        </div>
        <div class="col-md-6">
            <iframe src="https://drive.google.com/file/d/1rtC5fI5IcEm7IFWD1PWI5y4W9ch5e7RV/preview" width="100%" height="296px" allow="autoplay"></iframe>
            <a href="https://drive.google.com/file/d/1rtC5fI5IcEm7IFWD1PWI5y4W9ch5e7RV/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #BD9A5F; border-radius: 25px; border: none; color: #081F2D; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
        </div>
    </div>
  </div><br>
</section>

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #081f2d; color: #bd9a5f;">
    <div class="container text-center">
      <h4>CORREO DEL ÁREA DE JURÍDICO</h4><br>
      <p class="text-center"><span><b>legal@lioncapital.mx</b></span></p>
    </div> 
    <br><br>
</section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->


{% include "footer.html" %}