{% include "header.html" %}
{% load static %}

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #081f2d; color: #bd9a5f;">
  <div class="container text-center">
    <h2 class="fw-bold">TALLERES JURÍDICOS</h2><br>

    <div class="row align-items-center">
        <div class="col-md-6">
            <iframe src="https://drive.google.com/file/d/1p6vq5fCKNsmoLr4MOg1Rq0Mtv_b-RD3R/preview" width="100%" height="296px" allow="autoplay"></iframe>
            <a href="https://drive.google.com/file/d/1p6vq5fCKNsmoLr4MOg1Rq0Mtv_b-RD3R/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #BD9A5F; border-radius: 25px; border: none; color: #081F2D; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
        </div>
        <div class="col-md-6">
            <iframe src="https://drive.google.com/file/d/1rtC5fI5IcEm7IFWD1PWI5y4W9ch5e7RV/preview" width="100%" height="296px" allow="autoplay"></iframe>
            <a href="https://drive.google.com/file/d/1rtC5fI5IcEm7IFWD1PWI5y4W9ch5e7RV/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #BD9A5F; border-radius: 25px; border: none; color: #081F2D; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
        </div>
    </div>
  </div><br><br><br>
</section>

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #ffffff; color: #081f2d;">
    <div class="container text-center">
        <div class="row align-items-center">
            <h2 class="fw-bold">CERTEZAS JURÍDICAS</h2>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/18qYglIwMFWR5SZraMVl-KHFJwu0Wi17o/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">COCOTEROS</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1ocNT_RjLpuSwOejqSj8dDiju4fefRNRm/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">GRAN PLAYA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1oW1vMNOBl9K2ZmOSk3q9WPqw46J22HSr/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">LUHM</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/15gGr9DNIbAUW8LRaupq2UXTUk-wuW8q_/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">MÓNACO</button></a>
                <p></p>
            </div>
        </div>
        <div class="row">
            <h2 class="fw-bold">MACHOTES DE CONTRATO</h2>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1yHUU7y9bPquDEQaFDEgXrLySfZbctFcy/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">CONKAL VILLAGE</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1nTtAQiYRERfFT7dxLmOhJad2saS1W8KS/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">GRAN PLAYA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1DE7YglHLZX6_OdmP1MgS6q8J-ubXOjhy/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">HACIENDAS</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1WO0PeZeulFxZdtwomHgUfmsq9kJUzt14/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">IMARA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/11MVK4nYhPZISBSHU_SUYX25i7Tgc2gVx/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">LUHM</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1asr2_6_NPgWmsm6cqCv_Tl59XbeEqU6n/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">CAMINO REAL</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1ybk5bBE0p0o4Bte7UJbHsd25XG2DmZwY/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">COCOTEROS</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1XKiE5X5HlCi1XvOXjdirU2xWvfLNrmRN/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">INDUSTRALIA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1p8httIFn3N0Z08CjQGGDX_nWtsrySFTB/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">MARIETA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/100ZcaMwQQW_rAvXxC_xv0DH4eriWoUGC/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">MÓNACO</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1leSrNeQ9BCEOp3L1NDV239dKfziriZRC/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">PLAYA GAVIOTAS</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/17pqTzp_3hslGQoiGTk7AgT4inmjeP-ee/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">SAN CRISANTO</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1hMyBHo4MH28UTWzQ1WAQIk9jUkG6CTxL/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">UMÁN INDUSTRIAL</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/10O4gYGO_CM625pbIQfxU0IqL_oSogLQB/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">VELAS 2</button></a>
                <p></p>
            </div>
        </div>
        <div class="row">
            <h2 class="fw-bold">INSEJUPY</h2>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/16aS-lOZQeJP09bKIs46E05EENN7PqncC/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">COCOTEROS</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1jceM89Av_98YY7XJCNgckHMGeGZOZg-m/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">GRAN PLAYA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/14ctnMJKPU1P13ioTwTcjJz7NA0zCqm0y/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">HACIENDAS</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1UobZZf8cgJwWHbmmz-W5FAmgZwBnd8ry/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">IMARA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1IkM3SjpYUctFs9_pXjauWKg0sUZxHUCk/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">VELAS 1</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1jRpAz4iHet81vOH2r37190vrn35ASY3s/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">VELAS 2</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1sBM2JNqUzY4VvHPae6Hg-ijisvVXb_qW/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">LUHM</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1zDDzqVo3p2VjYa6PYIoAG2ULoZ_TO93A/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">MÓNACO</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1EzXZkH-US_F0VP_N-BoatlqqQHk105fI/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">PLAYA GAVIOTAS</button></a>
                <p></p>
            </div>
        </div>
        <div class="row">
            <h2 class="fw-bold">ACTAS CONSTITUTIVAS</h2>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1e2fZUXVpMknH8jZUMBeNeALkT3jA-bMe/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">INSOLMEX CONKAL</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1R0FiUlyR4FNnqpGVZ5DqdhZkBbbCerLu/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">MARIETA</button></a>
                <p></p>
            </div>
            <div class="col-md-3">
                <a href="https://drive.google.com/file/d/1u18lH1H38F1td5ltdXBYjvZXOj6y1pww/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #081f2d; border-radius: 25px; border: none; color: #FFFFFF; font-family: 'Lucida Sans';">GRUSAMID PLAYA G</button></a>
                <p></p>
            </div>
        </div>
    </div><br><br><br>
</section>

<section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #081f2d; color: #bd9a5f;">
    <div class="container text-center">
      <h4>CORREO DEL ÁREA DE JURÍDICO</h4><br>
      <p class="text-center"><span><b>legal@lioncapital.mx</b></span></p>
    </div> 
    <br><br>
</section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->


{% include "footer.html" %}
