{% include "header.html" %}
{% load static %}

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1> CONOCE <span>LUHM</span></h1>
          <br><br>
        </div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row text-center">
              <div class="col-md-12 embed-responsive embed-responsive-16by9">
                <iframe width="640" height="450" src="https://www.youtube.com/embed/4GO6uLiqxUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

              </div>
            </div>
            <a href="https://drive.google.com/file/d/1JnD7KFJb-UaWGlvMkXY4bz444ikOyrNQ/view?usp=sharing"><button class="btn btn-primary" style="width: 100%;">DESCARGAR VIDEO</button></a>
        </div>

        

      </section><br>

      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1>RECORRIDO <span>VIRTUAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row text-center">
              <div class="col-md-12">
                <img src="{% static 'img/recorrido.jpg' %}" width="100%" height="100%"><br><br>
                <a href="https://earth.google.com/web/@21.16249718,-89.35288057,7.40660792a,80529.36328071d,30.00000016y,0h,0t,0r/data=MikKJwolCiExZFNqcUFqOENBbzZMcDVBWERYMXIybHJBLWN6R1JkTXQgAQ"><button class="btn btn-primary" style="width: 50%;">RECORRIDO GOOGLE EARTH</button></a>
              </div>
            </div>
        </div>

        

      </section> <br>
      

      <section class="pt-5 pt-md-9 mb-6" id="feature">
        <hr size="8px" style="background-color: rgb(1, 4, 64);" />

        <div class="text-center">
          <h1>PRESENTACIÓN <span>PDF</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1jOE6hzSaJH9_52DXctlTANxZ9xpnKpgN/preview" width="100%" height="476px" allow="autoplay"></iframe>
                <a href="https://drive.google.com/file/d/1jOE6hzSaJH9_52DXctlTANxZ9xpnKpgN/view?usp=sharing"><button class="btn btn-primary" style="width: 50%;">DESCARGAR PRESENTACIÓN</button></a>
              </div>
            </div>
        </div>


        

      </section><br>
      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <div class="container text-center">
        <h1>MATERIAL DE <span>VENTAS</span></h1><br>
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'img/luhm1.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/luhm2.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/luhm3.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/luhm4.jpg' %}" width="100%" height="auto">
            </div>
        </div> <br><br><br>
        <div class="row">
          <div class="col-md-6">
            <h1>FICHA <span>TÉCNICA</span></h1>
            <div><a href="https://drive.google.com/file/d/1aW2JB1rAUfwaLHqtIRZPeVZqWB7g2T78/view?usp=sharing"><button class="btn btn-primary">DESCARGAR FICHA TÉCNICA</button></a></button></div>
          </div>
          <div class="col-md-6"> 
            <h1>ACCESO <span>CRM</span></h1>
            <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary">COTIZADOR</button></a></div>
          </div>
        </div> <br>
      </div>
      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1>UBICACIÓN <span>DESARROLLO</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.6140162781853!2d-89.1132891!3d21.3262628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f543d4e1325bec9%3A0x65502c3bbb515212!2sGran%20Playa!5e0!3m2!1ses-419!2smx!4v1658937653777!5m2!1ses-419!2smx" width="100%" height="476" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/9RsV6LX2Cz685y457"><button class="btn btn-primary" style="width: 50%;">UBICACIÓN DE GOOGLE MAPS</button></a>
              </div>
            </div>
        </div>

        

      </section> <br><br>
        
      <!-- <section> close ============================-->
      <!-- ============================================-->
    {% include "footer.html" %}