{% include "header.html" %}
{% load static %}

      <!-- ============================================ #FFFFFF   #EBE9E3   #A19788   #000000-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #A19788;">

        <div class="text-center">
          <h1> CONOCE <span>LUHM</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row text-center">
              <div class="col-md-12 embed-responsive embed-responsive-16by9">
                <iframe width="640" height="450" src="https://www.youtube.com/embed/4GO6uLiqxUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
              </div>
            </div>
            <br>
            <a href="https://drive.google.com/file/d/1JnD7KFJb-UaWGlvMkXY4bz444ikOyrNQ/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #EBE9E3; border-radius: 25px; border: none; color: #000000; font-family: 'Lucida Sans';">DESCARGAR VIDEO</button></a>
        </div><br>
      </section>


      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #EBE9E3 ;">

        <div class="text-center">
          <h1>RECORRIDO <span>VIRTUAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row text-center">
              <div class="col-md-12">
                <img src="{% static 'img/recorrido.jpg' %}" width="100%" height="100%"><br><br>
                <a href="https://earth.google.com/web/@21.16249718,-89.35288057,7.40660792a,80529.36328071d,30.00000016y,0h,0t,0r/data=MikKJwolCiExZFNqcUFqOENBbzZMcDVBWERYMXIybHJBLWN6R1JkTXQgAQ"><button class="btn btn-primary" style="width: 100%; background-color: #fff; border-radius: 25px; border: none; color: #000000; font-family: 'Lucida Sans';">RECORRIDO GOOGLE EARTH</button></a>
              </div>
            </div>
        </div> <br><br><br><br>
      </section>
      

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #ffffff ;">

        <div class="text-center">
          <h1>PRESENTACIÓN <span>PDF</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1jOE6hzSaJH9_52DXctlTANxZ9xpnKpgN/preview" width="100%" height="476px" allow="autoplay"></iframe>
                <a href="https://drive.google.com/file/d/1jOE6hzSaJH9_52DXctlTANxZ9xpnKpgN/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #EBE9E3; border-radius: 25px; border: none; color: #000000; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
              </div>
            </div>
        </div><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #EBE9E3 ;">
      <div class="container text-center">
        <h1>MATERIAL DE <span>VENTAS</span></h1><br>
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'img/luhm1.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/luhm2.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/luhm3.jpg' %}" width="100%" height="auto">
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/luhm4.jpg' %}" width="100%" height="auto">
            </div>
        </div>
      </div><br><br><br>
    </section>


    <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #000000; color: #ffffff;">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6">
            <h1>FICHA <span>TÉCNICA</span></h1><br>
            <div><a href="https://drive.google.com/file/d/1aW2JB1rAUfwaLHqtIRZPeVZqWB7g2T78/view?usp=sharing"><button class="btn btn-primary" style="background-color: #fff; border-radius: 25px; border: none; color: #000000; font-family: 'Lucida Sans';">DESCARGAR FICHA TÉCNICA</button></a></button></div><br>
          </div>
          <div class="col-md-6"> 
            <h1>ACCESO <span>CRM</span></h1><br>
            <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary" style="background-color: #fff; border-radius: 25px; border: none; color: #000000; font-family: 'Lucida Sans';">COTIZADOR</button></a></div>
          </div>
        </div>
    </div><br><br>
    </section>


      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #A19788;">

        <div class="text-center">
          <h1>UBICACIÓN <span>DESARROLLO</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16686.556187986433!2d-89.11621414505485!3d21.330467555491822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7738987eaed42d8!2zMjHCsDE5JzQyLjAiTiA4OcKwMDYnNTEuNCJX!5e0!3m2!1ses-419!2smx!4v1669672672434!5m2!1ses-419!2smx" width="100%" height="476" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/XLagGQtGecRpcbeCA"><button class="btn btn-primary" style="width: 100%; background-color: #fff; border-radius: 25px; border: none; color: #000000; font-family: 'Lucida Sans';">UBICACIÓN DE GOOGLE MAPS</button></a>
              </div>
            </div>
        </div><br><br>

        

      </section> <br>
        
      <!-- <section> close ============================-->
      <!-- ============================================-->
    {% include "footer.html" %}