{% include "header.html" %}
{% load static %}
      
      <!-- ============================================ #2576F7   #F9D04E   #5CAC48   #FB4880   #F94BF1-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #2576F7;">

        <div class="text-center">
          <h1> CONOCE <span>MALIK</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12 embed-responsive embed-responsive-16by9">
                <iframe width="532" height="315" src="https://www.youtube.com/embed/xZZheDn1kkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
              </div>
            </div>
            <br>
            <a href="https://drive.google.com/file/d/1BTlJ_3jTqO0fnC6U-jDaBt6W3KzYKH3K/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #F9D04E; border-radius: 25px; border: none; color: #2576F7; font-family: 'Lucida Sans';">DESCARGAR VIDEO</button></a>
        </div><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #FB4880;">

        <div class="text-center">
          <h1>RECORRIDO <span>VIRTUAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'img/recorridoMalik.jpg' %}" width="100%" height="100%"><br><br>
                <a href="https://earth.google.com/web/search/21%c2%b012%2707.2%22N+89%c2%b022%2729.3%22W/@21.202,-89.3748056,10.43929346a,1000d,30y,0h,0t,0r/data=Cl8aNRIvGcDKoUW2MzVAIeSWoND8V1bAKhsyMcKwMTInMDcuMiJOIDg5wrAyMicyOS4zIlcYAiABIiYKJAmkutX2iL0zQBGhutX2iL0zwBmpNRuaCT9JQCGpNRuaCT9JwDIpCicKJQohMVVVOTVvNTdEb3JSd1pGZU1JUjlFTy1GWHhmcThINlM1IAE"><button class="btn btn-primary" style="width: 100%; background-color: #F9D04E; border-radius: 25px; border: none; color: #2576F7; font-family: 'Lucida Sans';">RECORRIDO VIRTUAL</button></a>
              </div>
            </div>
        </div><br><br><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #2576F7;">

        <div class="text-center">
          <h1>PRESENTACIÓN <span>PDF</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/1Tn9AgUzIE0JfXS0SQB9uzf1WLNdTJzr1/preview" width="100%" height="476px" allow="autoplay"></iframe><br>
               <a href="https://drive.google.com/file/d/1Tn9AgUzIE0JfXS0SQB9uzf1WLNdTJzr1/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #F9D04E; border-radius: 25px; border: none; color: #2576F7; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
              </div>
            </div>
        </div><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #FB4880;">
        <div class="container text-center">
          <h1>MATERIAL DE <span>VENTAS</span></h1><br>
          <div class="row">
              <div class="col-md-3">
                <a href="{% static 'img/malik1.jpg' %}" download="Malik-1.jpg"><img src="{% static 'img/malik1.jpg' %}" width="100%" height="auto"></a>
              </div>
              <div class="col-md-3">
                <a href="{% static 'img/malik2.jpg' %}" download="Malik-2.jpg"><img src="{% static 'img/malik2.jpg' %}" width="100%" height="auto"></a>
              </div>
              <div class="col-md-3">
                <a href="{% static 'img/malik3.jpg' %}" download="Malik-3.jpg"><img src="{% static 'img/malik3.jpg' %}" width="100%" height="auto"></a>
              </div>
              <div class="col-md-3">
                <a href="{% static 'img/malik4.jpg' %}" download="Malik-4.jpg"><img src="{% static 'img/malik4.jpg' %}" width="100%" height="auto"></a>
              </div>
          </div>
        </div><br><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #F9D04E;">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6">
              <h1>FICHA <span>TÉCNICA</span></h1><br>
              <div><a href="https://drive.google.com/file/d/15CcDPrpJLu-GqvjP0T4sitc9lx96lCkU/view?usp=sharing"><button class="btn btn-primary" style="background-color: #2576F7; border-radius: 25px; border: none; color: #F9D04E; font-family: 'Lucida Sans';">DESCARGAR FICHA TÉCNICA</button></a></button></div><br>
            </div>
            <div class="col-md-6">
              <h1>ACCESO <span>CRM</span></h1><br>
              <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary" style="background-color: #2576F7; border-radius: 25px; border: none; color: #F9D04E; font-family: 'Lucida Sans';">COTIZADOR</button></a></div>
            </div>
          </div>
      </div><br><br>
    </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #2576F7;">

        <div class="text-center">
          <h1>UBICACIÓN <span>DESARROLLO</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.752216524304!2d-89.3748056!3d21.201999999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x575d8dd380597aeb!2zMjHCsDEyJzA3LjIiTiA4OcKwMjInMjkuMyJX!5e0!3m2!1ses!2smx!4v1658943739119!5m2!1ses!2smx" width="100%" height="476" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/trWnRK6Z9FW3V9Ge9"><button class="btn btn-primary" style="width: 100%; background-color: #F9D04E; border-radius: 25px; border: none; color: #2576F7; font-family: 'Lucida Sans';">UBICACIÓN DE GOOGLE MAPS</button></a>
              </div>
            </div>
        </div><br><br>
      </section>
        
      <!-- <section> close ============================-->
      <!-- ============================================-->

{% include "footer.html" %}