{% include "header.html" %}
{% load static %}
      <div class="pt-7" style="margin-top: 30px;">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-md-start text-center py-6">
              <h1 class="mb-4 fs-9 fw-bold">Sobre Nosotros</h1>
              <p class="mb-6 lead text-secondary">
                Lion Capital es una empresa que se caracteriza por su integridad al momento de realizar cualquier tipo de trato, 
                ya sea una venta de un producto o hasta una inversión; por su transparencia en todos los procesos, tanto administrativos,
                como de ventas y cierre. Pero sobre todo la lealtad de cada uno de nuestros integrantes.
                Somos una empresa apasionada por lo que hace y eso se proyecta a través de nuestro excelente equipo de trabajo, 
                se refleja en su forma honesta, responsable y sobre todo respetuosa.</p>
            </div>
            <div class="col-md-6 embed-responsive embed-responsive-16by9"><iframe width="100%" height="100%" src="https://drive.google.com/file/d/1Q_LKuw4whZQoPKnJK4gaVpijroBfB1OX/preview" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
        </div>
      </div><br>
      
<!--  <div class="container text-center">
        <h1>PLAN 120 - 611 Terrenos</h1>
        <div class="row">
          <div class="col-md-7">
            
            <hr size="8px" color="black" />
            <h2>MEJORES VENDEDORES</h2>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">-</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Terrenos Vendidos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">-</th>
                  <td>Esther Zamora</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Marilú Gallardo</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Julene Gorriño</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Tobias Sosa</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Ana Olamendi</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Reyna Salazar</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Victor Galindo</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Roberto Rivero</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Erika Vela</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Jaime Ortiz</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Evelyn Perez</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Patricia Sánchez</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Saúl Heredia</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Giovany Castro</td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <hr size="8px" color="black" />
          </div>
          <div class="col-md-5">
            
            <hr size="8px" color="black" />
            <h2>COLABORADORES</h2>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">-</th>
                  <th scope="col">Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">-</th>
                  <td>Laura Novelo</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Andrea Rosado</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Mariel Benítez</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Betzabeth Magaña</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Gerardo Zarate</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Valeria Pech</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Loreto Avila</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Elizabeth</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Patricia Tah</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Ponchito</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Rodrigo Mex</td>
                </tr>
                <tr>
                  <th scope="row">-</th>
                  <td>Mayra Sanguino</td>
                </tr>
              </tbody>
            </table>

            <hr size="8px" color="black" />
          </div>
        </div>
      </div>-->

      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-md-6">
              <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Líder del mes ABRIL 2023</h5>
                  <h6 class="card-subtitle mb-2 text-muted">VICTOR GALINDO S.</h6>
                  <p class="card-text">Sucursal CDMX</p>
                  <p class="card-text"><b>Lotes: 3</b></p>
                </div>
              </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Asesor del mes ABRIL 2023</h5>
              <h6 class="card-subtitle mb-2 text-muted">CLAUDIA GARCÍA</h6>
              <p class="card-text"><b>Líder: YOLANDA CANTÚ</b></p>
              <p class="card-text">Lotes: 3</p>
            </div>
          </div>
    </div>
      </div><br><br>
      <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Sucursal del mes ABRIL 2023</h5>
                <h6 class="card-subtitle mb-2 text-muted">Monterrey</h6>
                <p class="card-text">Lotes:</p>
                <p class="card-text"><b>10</b></p>
              </div>
            </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Desarrollo del mes ABRIL 2023</h5>
            <h6 class="card-subtitle mb-2 text-muted">MÓNACO</h6>
            <p class="card-text">Lotes: </b>6</p>
            <p class="card-text">Tickets: $1,654,338.40</p>
            <!--<p class="card-text"><b>Tickets: $1,236,337.61</b></p>-->
          </div>
        </div>
  </div>
    </div>
    </div><br><br>
<!--
        <div class="container">
    
          <div class="row">
          
            <div class="four col-md-3">
              <div class="counter-box colored">
                <i class="fa fa-group"></i>
                <span class="counter">50+</span>
                <p>Asesores</p>
              </div>
            </div>
            <div class="four col-md-3">
              <div class="counter-box">
                <i class="fa fa-thumbs-o-up"></i>
                <span class="counter">581</span>
                <p>Objetivo</p>
              </div>
            </div>
            <div class="four col-md-3">
              <div class="counter-box">
                <i class="fa  fa-shopping-cart"></i>
                <span class="counter">30</span>
                <p>Terrenos Vendidos</p>
              </div>
            </div>
            <div class="four col-md-3">
              <div class="counter-box">
                <i class="fa fa-check"></i>
                <span class="counter">4.8%</span>
                <p>Porcentaje de Venta</p>
              </div>
            </div>
          </div>	
      </div>
--->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h1> LA <b>MANADA</b></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'img/memo.jpg' %}" width="100%" height="auto">
                    <p><b>CEO Lion Capital</b></p>
                    <p>Guillermo Ortiz</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'img/esther.jpg' %}" width="100%" height="auto">
                    <p><b>Gerente de Ventas</b></p>
                    <p>Esther Zamora</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'lion/Recurso 6.png' %}" width="100%" height="auto">
                    <p><b>Gerente de Real Estate</b></p>
                    <p>Julián Romero</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'lion/Andrea.jpg' %}" width="100%" height="auto">
                    <p><b>Administración</b></p>
                    <p>Andrea Rosado</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'lion/Recurso 4.png' %}" width="100%" height="auto">
                    <p><b>Líder</b></p>
                    <p>Erika Vela</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Laura.jpg' %}" width="100%" height="auto">
                  <p><b>Grte. de Administración</b></p>
                  <p>Laura Novelo</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Mayra.jpg' %}" width="100%" height="auto">
                  <p><b>Administración</b></p>
                  <p>Mayra Sanguino</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Betzabeth.jpg' %}" width="100%" height="auto">
                  <p><b>Administradora de CRM</b></p>
                  <p>Betzabeth Magaña</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Recurso 11.png' %}" width="100%" height="auto">
                  <p><b>Líder</b></p>
                  <p>Ana Olamendi</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Gerardo.jpg' %}" width="100%" height="auto">
                  <p><b>Producción Multimedia</b></p>
                  <p>Gerardo Zarate</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Recurso 15.png' %}" width="100%" height="auto">
                  <p><b>Líder</b></p>
                  <p>Saúl Heredia</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Valeria.jpg' %}" width="100%" height="auto">
                  <p><b>Diseño Gráfico</b></p>
                  <p>Valeria Pech</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Recurso 17.png' %}" width="100%" height="auto">
                  <p><b>Líder</b></p>
                  <p>Marilú Gallardo</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Leonardo.jpg' %}" width="100%" height="auto">
                  <p><b>Gerente de Marketing</b></p>
                  <p>Leonardo Aguilar</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Patricia.jpg' %}" width="100%" height="auto">
                  <p><b>Administración</b></p>
                  <p>Patricia Tah</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Recurso 22.png' %}" width="100%" height="auto">
                  <p><b>Jurídico</b></p>
                  <p>Rodrigo Mex</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Loreto.jpg' %}" width="100%" height="auto">
                  <p><b>Programador</b></p>
                  <p>Loreto Ávila</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Arantxa.jpg' %}" width="100%" height="auto">
                  <p><b>Administración</b></p>
                  <p>Arantxa Martín</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Reyna.jpg' %}" width="100%" height="auto">
                  <p><b>Líder Malik</b></p>
                  <p>Reyna Salazar</p>
                </div>
                <div class="col-md-3">
                  <img src="{% static 'lion/Vanessa.jpg' %}" width="100%" height="auto">
                  <p><b>Recepción</b></p>
                  <p>Vanessa Irabien</p>
                </div>
            </div>
        </div>
      </section>
        


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <iframe class="rounded" style="width:100%;height:500px;" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->

{% include "footer.html" %}
