{% include "header.html" %}
{% load static %}

      <hr size="8px" style="background-color: rgb(1, 4, 64);" />

      <section class="pt-5 pt-md-9 mb-6" id="feature">

        <div class="text-center">
          <h4><span>POLÍTICAS</span> LION CAPITAL</h4>
          <br><br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
                <div class="col-4">
                    <iframe src="https://drive.google.com/file/d/1B6Ib7eKkHkdRA--mQA82O9jgCQVO1zcI/preview" width="100%" height="456" allow="autoplay"></iframe><br>
                    <h5>Políticas | Vehículo</h5>
                </div>
                <div class="col-4">
                    <iframe src="https://drive.google.com/file/d/1LwsppTYRmV3lHCw4jEyCrZ9MrbT-vPNC/preview" width="100%" height="456" allow="autoplay"></iframe><br>
                    <h5>Políticas | Contratos</h5>
                </div>
                <div class="col-4">
                    <iframe src="https://drive.google.com/file/d/1kP8mvP-Lgw2J5w6b4bmHpjtV6oDDvn86/preview" width="100%" height="456" allow="autoplay"></iframe><br>
                    <h5>Políticas | CRM</h5>
                </div>
            </div>
        </div>

        

      </section> <br>
      <hr size="8px" style="background-color: rgb(1, 4, 64);" /> <br>

      
        
      <!-- <section> close ============================-->
      <!-- ============================================-->
    {% include "footer.html" %}