{% include "header.html" %}
{% load static %}

      <!-- ============================================ #02577C   #5CB3C4   #99D8DD   #E0E8EB-->
      <!-- <section> begin ============================-->
      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #02577C;">

        <div class="text-center">
          <h1> CONOCE <span>VELAS TELCHAC</span></h1>
          <br>
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12 embed-responsive embed-responsive-16by9">
                <iframe src="https://drive.google.com/file/d/1_eBDyQ1xLQuh2616B70Vh6puigQbl6Fs/preview" width="532" height="315" allow="autoplay"></iframe>
              </div>
            </div><br>
            <a href="https://drive.google.com/file/d/1_eBDyQ1xLQuh2616B70Vh6puigQbl6Fs/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #99D8DD; border-radius: 25px; border: none; color: #02577C; font-family: 'Lucida Sans';">DESCARGAR VIDEO</button></a>
        </div><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #5CB3C4;">

        <div class="text-center">
          <h1>RECORRIDO <span>VIRTUAL</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'img/recvelas.jpg' %}" width="100%" height="100%"><br><br>
                <a><button class="btn btn-primary" style="width: 100%; background-color: #99D8DD; border-radius: 25px; border: none; color: #02577C; font-family: 'Lucida Sans';">RECORRIDO VIRTUAL</button></a>
              </div>
            </div>
        </div><br><br><br><br>
      </section>


      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #02577C;">

        <div class="text-center">
          <h1>PRESENTACIÓN <span>PDF</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://drive.google.com/file/d/16i4o1yxBievq4fwYoQP7tUcNuhzHlCYC/preview" width="100%" height="476px" allow="autoplay"></iframe><br>
               <a href="https://drive.google.com/file/d/16i4o1yxBievq4fwYoQP7tUcNuhzHlCYC/view?usp=sharing"><button class="btn btn-primary" style="width: 100%; background-color: #99D8DD; border-radius: 25px; border: none; color: #02577C; font-family: 'Lucida Sans';">DESCARGAR PRESENTACIÓN</button></a>
              </div>
            </div>
        </div><br><br>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #5CB3C4;">
        <div class="container text-center">
            <h1>MATERIAL DE <span>VENTAS</span></h1><br>
            <div class="row">
                <div class="col-md-3">
                  <a href="{% static 'img/vel1.jpg' %}" download="Velas-1.jpg"><img src="{% static 'img/vel1.jpg' %}" width="100%" height="auto"></a>
                </div>
                <div class="col-md-3">
                  <a href="{% static 'img/vel2.jpg' %}" download="Velas-2.jpg"><img src="{% static 'img/vel2.jpg' %}" width="100%" height="auto">
                </div>
                <div class="col-md-3">
                  <a href="{% static 'img/vel3.jpg' %}" download="Velas-3.jpg"><img src="{% static 'img/vel3.jpg' %}" width="100%" height="auto">
                </div>
                <div class="col-md-3">
                  <a href="{% static 'img/vel4.jpg' %}" download="Velas-4.jpg"><img src="{% static 'img/vel4.jpg' %}" width="100%" height="auto">
                </div>
            </div> <br><br><br>
          </div>
      </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #99D8DD;">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6">
              <h1>FICHA <span>TÉCNICA</span></h1><br>
              <div><a href="https://drive.google.com/file/d/1V_Ui37PgaEurClB2PJ3aHjjjAsDKpXCF/view?usp=sharing"><button class="btn btn-primary" style="background-color: #02577C; border-radius: 25px; border: none; color: #99D8DD; font-family: 'Lucida Sans';">DESCARGAR FICHA TÉCNICA</button></a></button></div><br>
            </div>
            <div class="col-md-6">
              <h1>ACCESO <span>CRM</span></h1><br>
              <div><a href="https://erplioncapital.com/sistemas_active/crm/index.php"><button class="btn btn-primary" style="background-color: #02577C; border-radius: 25px; border: none; color: #99D8DD; font-family: 'Lucida Sans';">COTIZADOR</button></a></div>
            </div>
          </div>
      </div><br><br>
    </section>

      <section class="pt-5 pt-md-9 mb-6" id="feature" style="background-color: #02577C;">

        <div class="text-center">
          <h1>UBICACIÓN <span>DESARROLLO</span></h1>
          <br>
        </div>
        <!--/.bg-holder-->
        <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.4701120263517!2d-89.2355556!3d21.331944399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMjHCsDE5JzU1LjAiTiA4OcKwMTQnMDguMCJX!5e0!3m2!1ses-419!2smx!4v1660327388418!5m2!1ses-419!2smx" width="100%" height="476" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://goo.gl/maps/gmgB2nzmrzuYxhsc9"><button class="btn btn-primary" style="width: 100%; background-color: #99D8DD; border-radius: 25px; border: none; color: #02577C; font-family: 'Lucida Sans';">UBICACIÓN DE GOOGLE MAPS</button></a>
              </div>
            </div>
        </div><br><br>
      </section>
        
      <!-- <section> close ============================-->
      <!-- ============================================-->
    {% include "footer.html" %}