{% include "header.html" %}
{% load static %}

<section>
    
<div class="container text-center">
    <h1 class="fw-bold">VIDEOCONFERENCIAS</h1><br>
    <div class="row text-center">
        <h3 class="fw-bold">Capacitación Desarrollos</h3>
        <div class="col-md-6" style="margin-bottom: 50px;"><br>
            <h5 class="fw-bold">MÓNACO</h5>
            <iframe src="https://drive.google.com/file/d/1E2i4mXfInZZXOl6hlqhCdtCN6sRU7ucU/preview" width="100%" height="300" allow="autoplay"></iframe>
        </div>
        <div class="col-md-6" style="margin-bottom: 50px;"><br>
            <h5 class="fw-bold">MALIK</h5>
            <iframe src="https://drive.google.com/file/d/1GTJtAf9pjq3KuPO9T52kWdwi70MYzuxn/preview" width="100%" height="300" allow="autoplay"></iframe>
        </div>
        <h3 class="fw-bold">Capacitación Ventas de Alto Rendimiento</h3>
        <div class="col-md-12 embed-responsive embed-responsive-16by9" style="border: 5px solid #BD9A5F;"><br>
            <iframe src="https://drive.google.com/file/d/1z59G3xvB-sgEk1Td6J7dMgjwEAdOv90u/preview" width="100%" height="288" allow="autoplay"></iframe>
        </div>
        <div class="col-md-6" style="border: 5px solid #BD9A5F;"><br>
            <iframe src="https://drive.google.com/file/d/1EaY5QSAlMvW75rRi34ROaVD6DX31Hrpw/preview" width="100%" height="288" allow="autoplay"></iframe>
            <p></p>
        </div>
        <div class="col-md-6" style="border: 5px solid #BD9A5F;"><br>
            <iframe src="https://drive.google.com/file/d/1lQSE8_fzUYgtDN8KQIBgDm9lYQVjaohs/preview" width="100%" height="288" allow="autoplay"></iframe>
            <p></p>
        </div>
    </div><br><br>

    </section>











{% include "footer.html" %}