{% include "header.html" %}
{% load static %}

<section>
    
<div class="container text-center">
    <h3>VIDEOCONFERENCIAS</h3>
    <div class="row">
        <div class="col-md-6"><br>
            <p>CIERRE DE VENTAS</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Wu9DCWa_vok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6"><br>
            <p>CIERRE DE VENTAS VOL. 2</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QSBH_eHGTG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6"><br>
            <p>CAPACITACIÓN DE VENTAS</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nuinBI-0mzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6"><br>
            <p>HERRAMIENTAS DE VENTAS</p> 
            <iframe width="560" height="315" src="https://www.youtube.com/embed/et4KDNzNCtc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6"> <br>
            <p>OBJECIONES DE VENTAS</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EETFHwA6CL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6"> <br>
            <p>NEGOCIACIONES</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EbyvKRkQg-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div><br><br>

    </section>











{% include "footer.html" %}